.contactus-section
{
    margin-top: 10%;
}
.contact-cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    align-content: center;
}
.contact-card
{
    height: 80%;
    width: 22%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 40px 0;
}

.contact-card .card-icon
{
    height: 70px;
    width: 80px;
}

.card-button
{
    margin-top: 40px;
    cursor: pointer;
    text-decoration: none;
    padding: 6px 10px;
    border: 1px solid #8F60FF;
    border-radius: 4px;
    color: #8F60FF;
}
.button-contactus
{
    margin-top: 150px;
    border: 1px solid #8F60FF;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 15px;
    color: #FFFFFF;
    background-color: #8F60FF;
}
.bottom-button
{
    margin-top: 40px;
    
}
.contactus-section .contact-title{
    max-width: 26%;
    margin: auto;
}

@media screen and (max-width : 1000px) {
    .contact-cards
    {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .contactus-section .contact-title{
        max-width: 100%;
    }
    .contact-card
    {
        width: 78%;
        box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.187);
    }
    .contact-cards
    {
        gap: 30px;
    }
}