/*  */
.section2
{
    display: flex;
    justify-content: center;
    padding: 10%;
}
.firstcard{
    width: 1129px;
    height: 231px;
    background: #F8F5FF;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
}

.four
{
    width: 206px;
    height: 203px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding-top: 20px;
    padding-left: 10px;
    text-align: left;
}